
@{
    ViewData["Title"] = "Atender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-show="vm.gridVisible">
    <div class="col-12 pl-5 pr-5">
        <div class="card">
            <div class="card-header">
                <div class="col-12 col-md-4 no-padding">
                    <input type="date" class="form-control" ng-model="vm.entity.fecha" ng-change="vm.getAll()" />
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" ng-click="vm.atenderCita()" ng-disabled="vm.gridApi.selection.getSelectedRows().length === 0">Atender</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.formTarifa">
    <div class="col-12 offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Actualizar Tarifa</h4>
            </div>
            <div class="card-body">
                <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12 col-md-5">
                            <label>Fecha Hora:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entityCit.sFecha" required readonly="readonly" />
                        </div>
                        <div class="col-12 col-md-7">
                            <label>Identificaci&oacute;n:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entityCit.identificacion" required readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Nombre Paciente:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entityCit.nombrePaciente" required readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Convenio:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entityCit.nombreConvenio" required readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Servicio:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entityCit.nombreServicio" required readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Estado:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entityCit.nombreEstado" required readonly="readonly" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Tarifa:</label>
                            <input type="number" class="form-control" form="formApp" ng-model="vm.entityCit.tarifa" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <button class="btn btn-primary" ng-click="vm.actuaizarTarifa()">Actualizar</button>
                            <button class="btn btn-default" ng-click="vm.regresar()">Regresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/master/controllers/historiaClinica/atender.controller.js"></script>