
@{
    ViewData["Title"] = "Cons. Historias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fontsize-10{
        height:250px;
    }

    #tabs .ui-tabs-active {
        background: #2b90d9 !important;
        border-color: #2b90d9 !important;
    }
</style>

<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-12 col-md-5">
                                            <label>Tipo Documento:</label>
                                            <ui-select ng-model="vm.entity.tipoIden"
                                                       form="formApp"
                                                       theme="bootstrap"
                                                       tabindex="7"
                                                       required
                                                       on-select="vm.getPacienteByIden()">
                                                <ui-select-match placeholder="Seleccione...">{{ $select.selected.descripcion }}</ui-select-match>
                                                <ui-select-choices repeat="item.codValor as item in vm.listTiposIden | filter: $select.search">
                                                    <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>N&uacute;mero Documento:</label>
                                            <input ng-model="vm.entity.numIden" type="text" class="form-control" ng-blur="vm.getPacienteByIden()" required />
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <br />
                                            <button class="btn btn-primary" ng-click="vm.buscarHistorias()">Consultar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h4>{{vm.entityPac.nombrePaciente}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Eventos</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsEve" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Formatos</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsFrm" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Formulaciones</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsFor" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ordenes</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsOrd" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Multimedia</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsMul" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-12">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Formatos</a></li>
                        <li><a href="#tabs-2">Formulaciones</a></li>
                        <li><a href="#tabs-3">Ordenes M&eacute;dicas</a></li>
                        <li><a href="#tabs-4">Multimedia</a></li>
                    </ul>
                    <div id="tabs-1">
                        <div class="row">
                            <div class="col-12">

                            </div>
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsFor" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsOrd" ui-grid-selection ui-grid-edit ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsMul" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script>
    //$("#tabs").tabs();
</script>

<script src="~/master/controllers/historiaClinica/consHistoria.controller.js"></script>