
@{
    ViewData["Title"] = "Evento - OrdenMedica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fontsize-10 {
        max-height: 150px;
        font-size: 0.8em;
    }

    .bg-header {
        background-color: transparent;
    }

    .cursorPointer {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-body">
                <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12">
                            <h4 class="modal-title">Evento # {{vm.entity.noEvento}} &nbsp;&nbsp;&nbsp;&nbsp; {{vm.entity.paciente.nombrePaciente}}</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Servicio:</label>
                            <ui-select ng-model="vm.entityOrdDet.idServicio"
                                       form="formApp"
                                       theme="bootstrap"
                                       tabindex="7"
                                       required
                                       on-select="vm.onChangeServicio($item, $model)">
                                <ui-select-match placeholder="Seleccione servicio...">{{ $select.selected.nombreServicio }}</ui-select-match>
                                <ui-select-choices repeat="item.idServicio as item in vm.listServicios | filter: $select.search">
                                    <div ng-bind-html="item.nombreServicio | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Cantidad:</label>
                            <input type="number" class="form-control" form="formApp" ng-model="vm.entityOrdDet.cantidad" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Tarifa:</label>
                            <input type="number" class="form-control" form="formApp" ng-model="vm.entityOrdDet.tarifa" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Descuento:</label>
                            <input type="number" class="form-control" form="formApp" ng-model="vm.entityOrdDet.descuento" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="col-12 text-right">
                                <button class="btn btn-primary" ng-click="vm.agregarServicio()" ng-disabled="formApp.$invalid">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="fontsize-10" ui-grid="vm.gridOptionsOrd" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Observaciones:</label>
                            <textarea rows="3" class="form-control" ng-model="vm.entityOrd.observaciones"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" ng-click="vm.guardar()" ng-disabled="vm.gridOptionsOrd.data.length === 0">Guardar</button>
                        <button class="btn btn-default" ng-click="vm.regresar()">Volver al evento</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var IdEvento = '@ViewBag.IdEvento';
</script>

<script src="~/master/controllers/historiaClinica/evento.controller.ordenMedica.js"></script>