
@{
    ViewData["Title"] = "Multimedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fontsize-10 {
        height: 250px;
    }
</style>

<div class="row" ng-show="vm.gridVisible">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-12 col-md-5">
                                            <label>Tipo Documento:</label>
                                            <ui-select ng-model="vm.entity.tipoIden"
                                                       form="formApp"
                                                       theme="bootstrap"
                                                       tabindex="7"
                                                       required
                                                       on-select="vm.getPacienteByIden()">
                                                <ui-select-match placeholder="Seleccione...">{{ $select.selected.descripcion }}</ui-select-match>
                                                <ui-select-choices repeat="item.codValor as item in vm.listTiposIden | filter: $select.search">
                                                    <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label>N&uacute;mero Documento:</label>
                                            <input ng-model="vm.entity.numIden" type="text" class="form-control" ng-blur="vm.getPacienteByIden()" required />
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <br />
                                            <button class="btn btn-primary" ng-click="vm.buscarHistorias()">Consultar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h4>{{vm.entityPac.nombrePaciente}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 text-right">
                                <button class="btn btn-success" ng-click="vm.subirArch()" ng-disabled="vm.entityPac.nombrePaciente === undefined">Subir Archivo</button>
                                <button class="btn btn-danger" ng-click="vm.armarPdf()" ng-disabled="vm.entityPac.nombrePaciente === undefined">Armar PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="vm.formSubirVisible">
    <div class="col-12 offset-lg-2 col-lg-8">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-default" ng-click="vm.regresar()">Regresar</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Subir Archivo</h4>
                    </div>
                    <div class="card-body">
                        <form id="formSubir" name="formSubir" novalidate="novalidate" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Seleccione Archivo:</label>
                                    <input type="file" id="FileArch" form="formSubir" accept="image/jpeg, image/png, application/pdf" onchange="angular.element(this).scope().uploadFile(this)" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Nombre Archivo:</label>
                                    <input type="text" class="form-control" form="formSubir" ng-model="vm.entityMul.nombreArchivo" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>No. Evento:</label>
                                    <ui-select ng-model="vm.entityMul.idEvento"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Seleccione un evento...">{{ $select.selected.descripcionEvento }}</ui-select-match>
                                        <ui-select-choices repeat="item.idEvento as item in vm.listEventos | filter: $search">
                                            <div ng-bind-html="item.descripcionEvento | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success" ng-disabled="formSubir.$invalid" ng-click="vm.subirArchivo()">Subir Archivo</button>
                                <button class="btn btn-default">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="vm.formArmarVisible">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-default" ng-click="vm.regresar()">Regresar</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Imagenes</h4>
                    </div>
                    <div class="card-body">
                        <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="fontsize-10" ui-grid="vm.gridOptionsImgs" ui-grid-auto-resize></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Observaciones:</label>
                                    <textarea rows="3" class="form-control" ng-model="vm.entity.obs"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Nombre Archivo:</label>
                                    <input type="text" class="form-control" ng-model="vm.entity.nombreArchivo" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>No. Evento:</label>
                                    <ui-select ng-model="vm.entity.idEvento"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Seleccione un evento...">{{ $select.selected.descripcionEvento }}</ui-select-match>
                                        <ui-select-choices repeat="item.idEvento as item in vm.listEventos | filter: $search">
                                            <div ng-bind-html="item.descripcionEvento | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success" ng-click="vm.multimediaPdfVistaPrevia()">Vista Previa</button>
                                <button class="btn btn-danger" ng-click="vm.multimediaPdfReal()" ng-disabled="formApp.$invalid || vm.gridOptionsImgs.data.length === 0">Guardar PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Subir Imagen</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label>Seleccione Archivo:</label>
                                <input type="file" id="FileArchImg" accept="image/jpeg, image/png" onchange="angular.element(this).scope().uploadFileTemp(this)" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success" ng-click="vm.subirImgTemp()">Subir</button>
                                <button class="btn btn-default">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/master/controllers/historiaClinica/multimedia.controller.js"></script>