
@{
    ViewData["Title"] = "Admisi&oacute;n - Facturar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tabla{
        font-size:0.9em;
    }

    .Sel{
        color:blueviolet;
        font-weight:bold;
    }
</style>

<div id="ColGrilla" class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 offset-sm-1 col-sm-10">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Datos del Paciente</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-7">
                                    <label>Tipo Identificaci&oacute;n:<label class="red">*</label></label>
                                    <select id="CboTipoIden" class="form-control selectpicker" data-live-search="true" onchange="GetPacienteByIden()"></select>
                                </div>
                                <div class="col-12 col-sm-5">
                                    <label>N&uacute;mero Identificaci&oacute;n:<label class="red">*</label></label>
                                    <input id="TxtNumIden" type="text" class="form-control" onblur="GetPacienteByIden()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-sm-1 col-sm-10 text-center">
                <h4 id="LblNombrePaciente"></h4>
            </div>
        </div>
        <div id="ColCitas" class="row mt-3" hidden="hidden">
            <div class="col-12 offset-sm-1 col-sm-10">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <div class="col-12 col-md-6 no-padding">
                            <select id="CboConvenio" class="form-control selectpicker" data-live-search="true" onchange="onChangeCon()"></select>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12 no-padding">
                            <div class="table-responsive">
                                <div class="gridEnca">
                                    <table class="tabla">
                                        <thead>
                                            <tr>
                                                <th width="50px"></th>
                                                <th width="120px">Fecha</th>
                                                <th width="100px">Hora</th>
                                                <th>Servicio</th>
                                                <th width="250px">M&eacute;dico</th>
                                                <th width="100px">Tarifa</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="gridDeta">
                                    <table class="tabla">
                                        <tbody id="BodyCitas"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 no-padding">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h4 id="LblTotalPagar"></h4>
                                </div>
                                <div class="col-12 col-md-6 text-right">
                                    <button id="btnFacturar" class="btn btn-primary">Facturar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ColExito" class="row" hidden="hidden">
    <div class="col-12 offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4 class="text-success">¡Se ha facturado lo(s) servicio(s) exitosamente!</h4>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <button id="btnAsignar" class="btn btn-primary">Asignar Cita</button>
                    <button id="btnReiniciar" class="btn btn-success">Facturar</button>
                    <button id="btnSalir" class="btn btn-default">Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/master/js/Admision/Facturar.js"></script>