
@{
    ViewData["Title"] = "Admisi&oacute;n - Trasladar y/o CancelarCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    hr{
        margin-top:3px !important;
        margin-bottom:3px !important;
    }

    tr.borderbottom td{
        border-bottom:1px solid lightgray;
    }
</style>

<div id="ColGrilla" class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 offset-sm-1 col-sm-10">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Datos del Paciente</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-7">
                                    <label>Tipo Identificaci&oacute;n:<label class="red">*</label></label>
                                    <select id="CboTipoIden" class="form-control selectpicker" data-live-search="true" onchange="GetPacienteByIden()"></select>
                                </div>
                                <div class="col-12 col-sm-5">
                                    <label>N&uacute;mero Identificaci&oacute;n:<label class="red">*</label></label>
                                    <input id="TxtNumIden" type="text" class="form-control" onblur="GetPacienteByIden()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-sm-1 col-sm-10 text-center">
                <h4 id="LblNombrePaciente"></h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 offset-sm-1 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="gridEnca">
                                <table class="tabla">
                                    <thead>
                                        <tr>
                                            <th width="120px">Fecha</th>
                                            <th width="100px">Hora</th>
                                            <th width="250px">Convenio</th>
                                            <th width="250px">M&eacute;dico</th>
                                            <th>Servicio</th>
                                            <th width="110px"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="gridDeta">
                                <table class="tabla">
                                    <tbody id="BodyCitas"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ColEditor" class="row" hidden="hidden">
    <div class="col-12">
        <div class="row">
            <div class="col-12 offset-sm-1 col-sm-10">
                <button id="btnRegresar" class="btn btn-default">Regresar</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 offset-sm-1 col-sm-5">
                <div id="Card" class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <label><b>Identificaci&oacute;n:</b></label><br />
                            <label id="LblIden"></label>
                        </div>
                        <hr />
                        <div class="col-12">
                            <label><b>Paciente:</b></label><br />
                            <label id="LblNomPac"></label>
                        </div>
                        <hr />
                        <div class="col-12">
                            <label><b>Convenio:</b></label><br />
                            <label id="LblConv"></label>
                        </div>
                        <hr />
                        <div class="col-12">
                            <label><b>Servicio:</b></label><br />
                            <label id="LblServ"></label>
                        </div>
                        <hr />
                        <div class="col-12">
                            <label><b>M&eacute;dico:</b></label><br />
                            <label id="LblMedi"></label>
                        </div>
                        <hr />
                        <div class="col-12">
                            <label><b>Fecha y Hora:</b></label><br />
                            <label id="LblFech"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="card" style="max-height:458px !important">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label>M&eacute;dico:<label class="red">*</label></label>
                                <select id="CboMedico" class="form-control selectpicker" data-live-search="true" onchange="fnOnChangeMed()"></select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>Fecha de la Cita:<label class="red">*</label></label>
                                <input id="TxtFechaCita" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <div class="gridEnca">
                                        <table class="tabla">
                                            <thead>
                                                <tr>
                                                    <th>Hora</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="gridDeta" style="max-height:200px !important">
                                        <table class="tabla">
                                            <tbody id="BodyHoras"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/Admision/TrasladarCancelarCita.js"></script>